@model DogGo.Models.ViewModels.DogFormViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Dog</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Dog.Name" class="control-label"></label>
                <input asp-for="Dog.Name" class="form-control" />
                <span asp-validation-for="Dog.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Dog.OwnerId" class="control-label">Owner</label>
                <select asp-for="Dog.OwnerId" class="form-control">
                    <option value="">Select Owner</option>
                    @foreach (Owner owner in Model.Owners)
                    {
                        <option value="@owner.Id">@owner.Name</option>
                    }
                </select>
                <span asp-validation-for="Dog.OwnerId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Dog.Breed" class="control-label"></label>
                <input asp-for="Dog.Breed" class="form-control" />
                <span asp-validation-for="Dog.Breed" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Dog.Notes" class="control-label"></label>
                <input asp-for="Dog.Notes" class="form-control" />
                <span asp-validation-for="Dog.Notes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Dog.ImageUrl" class="control-label"></label>
                <input asp-for="Dog.ImageUrl" class="form-control" />
                <span asp-validation-for="Dog.ImageUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
